<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf</title>
</head>
<body>
<h1 th:text="${city}"></h1>
</body>

<table>
    <tr>
        <th>日付</th>
        <th>天気</th>
        <th>アイコン</th>
    </tr>

    <tr th:each="forecast : ${forecasts}">
        <td th:text="${forecast.date}"></td>
        <td th:text="${forecast.telop}"></td>
        <td th:text="${forecast.imageUrl}"></td>
    </tr>

    <!--<tr th:each="customer : ${customers}" th:object="${customer}">-->
        <!--<td th:text="*{id}">1</td>-->
        <!--<td th:text="*{lastName}">Suzuki</td>-->
        <!--<td th:text="*{firstName}">Taro</td>-->
    <!--</tr>-->

</table>
</html>